.banner_wrp {
  background-image: url("../../assets/images/banner_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .banner {
    background: linear-gradient(
      180deg,
      rgba(20, 20, 32, 0.65) 0%,
      #141420 100%
    );
    z-index: -1;
    padding: 100px 0;
    .banner_inner {
      h1 {
        font-size: 50px;
        color: #fff;
        font-weight: 700;
        line-height: 1.25;
        word-break: break-word;
      }
      p {
        font-size: 18px;
        color: #a1a0ae;
        font-weight: 500;
        line-height: 24px;
        margin: 24px 0;
        padding-right: 60px;
        word-break: break-word;
      }
      img {
        width: 100%;
      }
      .banner_btn_wrp {
        button {
          font-size: 18px;
          line-height: 20px;
          font-weight: 600;
          color: #fff;
          padding: 12px;
          border-radius: 8px;
          border: 2px solid #fff;
          background-color: transparent;
          &.color_btn {
            background-color: #5142fc;
            border-color: #5142fc;
            margin-right: 16px;
          }
        }
      }
    }
  }
}
// responsive
@media only screen and (max-width: 1023px) {
  .banner_wrp {
    .banner {
      .banner_inner {
        h1 {
          padding-right: 250px;
        }
        p {
          padding-right: 250px;
        }
      }
    }
  }
} /* 980 */
@media only screen and (max-width: 979px) {
  .banner_wrp {
    .banner {
      .banner_inner {
        h1 {
          padding-right: unset;
          font-size: 36px;
        }
        p {
          padding-right: unset;
        }
      }
    }
  }
} /* 768 */
@media only screen and (max-width: 649px) {
  .banner_wrp {
    .banner {
      .banner_inner {
        h1 {
        }
        p {
          font-size: 14px;
        }
        .banner_btn_wrp {
          button {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }
} /* 480 */
